mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}


mat-form-field {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
}


button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}



form{
  display: flex;
  flex-direction: column;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
  margin-bottom: 10px;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
